# Firebase Cloud Database Credentials (kasirm-ca02b)

VITE_FIREBASE_API_KEY=AIzaSyB9NoMHibHhLo__W9AUTgyhbKPgN5cxGhY
VITE_FIREBASE_AUTH_DOMAIN=kasirm-ca02b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kasirm-ca02b
VITE_FIREBASE_STORAGE_BUCKET=kasirm-ca02b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=89408534827
VITE_FIREBASE_APP_ID=1:89408534827:web:afe0553f3a9897b40fad6e
VITE_FIREBASE_MEASUREMENT_ID=G-4VR3FMSK17
